###  Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_columns = None

#### Read dataframes with index columns

In [2]:
departments_df = pd.read_csv("BigSupplyCo_Data_Files\departments_v2.csv", index_col="Department Id")
orders_df = pd.read_csv("BigSupplyCo_Data_Files\orders_v2.csv", index_col = "Order Id")
products_df = pd.read_csv("BigSupplyCo_Data_Files\products_v2.csv", index_col = "Product Id")
customers_df = pd.read_csv("BigSupplyCo_Data_Files\customers_v2.csv", index_col = "Customer Id")

## 1. Analyze the shipping info in more detail

Trying to deduce relationships between the 4 columns at the end that relate to shippping and spot any errors

Create subset of orders dataframe

In [3]:
shipping_df = orders_df.filter(["Days for shipping (real)","Days for shipment (scheduled)","Delivery Status","Late Delivery Risk"]).copy()
shipping_df.head(3)

,Days for shipping (real),Days for shipment (scheduled),Delivery Status,Late Delivery Risk
Order Id,,,,
77202,3,4,Advance shipping,0
75939,5,4,Late delivery,1
75938,4,4,Shipping on time,0

Basically I want to deduce the meaning of the possible values in each column and how they combine.
The meaning of scheduled and real shipping days are clear enough. 
It seems that the Delivery status depends on the comparison of these two columns' values. Let's verify that

First want to check the value counts

In [4]:
shipping_df.apply(pd.Series.value_counts)

,Days for shipping (real),Days for shipment (scheduled),Delivery Status,Late Delivery Risk
0,5080.0,9737.0,NaN,81542.0
1,4657.0,27814.0,NaN,98977.0
2,56618.0,35216.0,NaN,NaN
3,28765.0,NaN,NaN,NaN
4,28513.0,107752.0,NaN,NaN
5,28163.0,NaN,NaN,NaN
6,28723.0,NaN,NaN,NaN
Advance shipping,NaN,NaN,41592.0,NaN
Late delivery,NaN,NaN,98977.0,NaN
Shipping canceled,NaN,NaN,7754.0,NaN
Shipping on time,NaN,NaN,32196.0,NaN

Interesting that nothing is scheduled to ship in 3, 5, 6 days

### Get rows where shipping is made on schedule

In [5]:
on_time_df = shipping_df.loc[(shipping_df["Days for shipping (real)"] == shipping_df["Days for shipment (scheduled)"])]
on_time_df

,Days for shipping (real),Days for shipment (scheduled),Delivery Status,Late Delivery Risk
Order Id,,,,
75938,4,4,Shipping on time,0
75921,0,0,Shipping on time,0
75920,0,0,Shipping on time,0
75916,2,2,Shipping canceled,0
75913,4,4,Shipping on time,0
...,...,...,...,...
26138,4,4,Shipping on time,0
26118,4,4,Shipping canceled,0
26051,2,2,Shipping on time,0
26043,4,4,Shipping on time,0
26018,4,4,Shipping on time,0

In [6]:
on_time_df.apply(pd.Series.value_counts)

,Days for shipping (real),Days for shipment (scheduled),Delivery Status,Late Delivery Risk
0,5080.0,5080.0,NaN,33753.0
2,7138.0,7138.0,NaN,NaN
4,21535.0,21535.0,NaN,NaN
Shipping canceled,NaN,NaN,1557.0,NaN
Shipping on time,NaN,NaN,32196.0,NaN

Get percentage of orders that are cancelled

In [7]:
percentage_list = [0,0,0]

In [8]:
a = len(on_time_df.index)
p = round(1557/a*100, 2)
print( p, " % of shipments sent on time are cancelled ")
percentage_list[0] = p

4.61  % of shipments sent on time are cancelled

Interesting that nothing that gets scheduled to ship in 1 day is delivered on time

### Get rows where shipment takes longer than expected

In [9]:
delayed_df = shipping_df.loc[(shipping_df["Days for shipping (real)"] > shipping_df["Days for shipment (scheduled)"])]
delayed_df

,Days for shipping (real),Days for shipment (scheduled),Delivery Status,Late Delivery Risk
Order Id,,,,
75939,5,4,Late delivery,1
75935,6,4,Shipping canceled,0
75934,2,1,Late delivery,1
75933,2,1,Late delivery,1
75932,3,2,Late delivery,1
...,...,...,...,...
26059,5,2,Late delivery,1
26053,4,2,Late delivery,1
26050,6,4,Late delivery,1
26037,3,2,Late delivery,1
26024,5,4,Late delivery,1

In [10]:
delayed_df.apply(pd.Series.value_counts)

,Days for shipping (real),Days for shipment (scheduled),Delivery Status,Late Delivery Risk
0,NaN,4657.0,NaN,4423.0
1,4657.0,27814.0,NaN,98977.0
2,27814.0,28078.0,NaN,NaN
3,7065.0,NaN,NaN,NaN
4,6978.0,42851.0,NaN,NaN
5,28163.0,NaN,NaN,NaN
6,28723.0,NaN,NaN,NaN
Late delivery,NaN,NaN,98977.0,NaN
Shipping canceled,NaN,NaN,4423.0,NaN

Interesting that nothing is scheduled to ship in 3, 5, 6 days

Also note that the Late delivery Risk column is assigned the value of 0 (no late delivery) when the delivery is late, but it has been cancelled

Get percentage of orders that are cancelled

In [11]:
a = len(delayed_df.index)
p = round(4423.0/a*100, 2)
print( p, " % of shipments that are delayed are cancelled ")
percentage_list[1] = p

4.28  % of shipments that are delayed are cancelled

### Get rows where shipment takes shorter than expected

In [12]:
advance_df = shipping_df.loc[(shipping_df["Days for shipping (real)"] < shipping_df["Days for shipment (scheduled)"])]
advance_df

,Days for shipping (real),Days for shipment (scheduled),Delivery Status,Late Delivery Risk
Order Id,,,,
77202,3,4,Advance shipping,0
75937,3,4,Advance shipping,0
75936,2,4,Advance shipping,0
75912,3,4,Advance shipping,0
75911,2,4,Advance shipping,0
...,...,...,...,...
26071,2,4,Advance shipping,0
26052,3,4,Advance shipping,0
26052,3,4,Advance shipping,0
26047,3,4,Advance shipping,0
26022,3,4,Advance shipping,0

In [13]:
advance_df.apply(pd.Series.value_counts)

,Days for shipping (real),Days for shipment (scheduled),Delivery Status,Late Delivery Risk
0,NaN,NaN,NaN,43366.0
2,21666.0,NaN,NaN,NaN
3,21700.0,NaN,NaN,NaN
4,NaN,43366.0,NaN,NaN
Advance shipping,NaN,NaN,41592.0,NaN
Shipping canceled,NaN,NaN,1774.0,NaN

Interesting that only orders that are scheduled to be sent on 4 days are sent in advance, and only in 2 or 3 days

Get percentage of orders that are cancelled

In [14]:
a = len(advance_df.index)
p = round(1774/a*100, 2)
print( p, " % of shipments that are sent in advance are cancelled ")
percentage_list[2] = p

4.09  % of shipments that are sent in advance are cancelled

### Inspect Cancelled Shipping

In [15]:
print("On time, delayed, advanced")
print(percentage_list)

On time, delayed, advanced
[4.61, 4.28, 4.09]

I am unsure how to interpret the meaning of a shipment cancellation. It may have been cancelled by the customer or by the company. The above percentages suggest the customers don't cancel it because the values are quite similar, and we would expect customers receiving their deliveries late have cancelled

Most likely this has to do with payments having failed etc. I'll investigate this further after I figure out the meaning of order status.

## Deduce the relationship between order status and payment type  and delivery status

In [18]:
order_status_df = orders_df.filter(["Order Status","Type","Delivery Status"]).copy()
order_status_df.head()

             Order Status      Type   Delivery Status
Order Id
77202            COMPLETE     DEBIT  Advance shipping
75939             PENDING  TRANSFER     Late delivery
75938              CLOSED      CASH  Shipping on time
75937            COMPLETE     DEBIT  Advance shipping
75936     PENDING_PAYMENT   PAYMENT  Advance shipping

In [20]:
order_status_df["Order Status"].value_counts()

COMPLETE           59491
PENDING_PAYMENT    39832
PROCESSING         21902
PENDING            20227
CLOSED             19616
ON_HOLD             9804
SUSPECTED_FRAUD     4062
CANCELED            3692
PAYMENT_REVIEW      1893
Name: Order Status, dtype: int64

#### Lets inspect these one by one

##### 1.Start with complete orders

In [42]:
complete_df = order_status_df.loc[(order_status_df["Order Status"] == "COMPLETE")]
complete_df.head()

         Order Status   Type   Delivery Status
Order Id
77202        COMPLETE  DEBIT  Advance shipping
75937        COMPLETE  DEBIT  Advance shipping
75934        COMPLETE  DEBIT     Late delivery
75927        COMPLETE  DEBIT     Late delivery
75925        COMPLETE  DEBIT     Late delivery

In [30]:
complete_df.apply(pd.Series.value_counts)

                  Order Status     Type  Delivery Status
Advance shipping           NaN      NaN          14136.0
COMPLETE               59491.0      NaN              NaN
DEBIT                      NaN  59491.0              NaN
Late delivery              NaN      NaN          34199.0
Shipping on time           NaN      NaN          11156.0

#### All orders with status "Complete" are paid by debit, and their shipping is never cancelled

##### Get the dataframes matching each other order

In [49]:
statuses = order_status_df["Order Status"].unique()
statuses

array(['COMPLETE', 'PENDING', 'CLOSED', 'PENDING_PAYMENT', 'CANCELED',
       'PROCESSING', 'SUSPECTED_FRAUD', 'ON_HOLD', 'PAYMENT_REVIEW'],
      dtype=object)

In [54]:
pending_df = order_status_df.loc[(order_status_df["Order Status"] == statuses[1])]
closed_df = order_status_df.loc[(order_status_df["Order Status"] == statuses[2])]
pending_payment_df = order_status_df.loc[(order_status_df["Order Status"] == statuses[3])]
canceled_df = order_status_df.loc[(order_status_df["Order Status"] == statuses[4])]
processing_df =order_status_df.loc[(order_status_df["Order Status"] == statuses[5])]
fraud_df =order_status_df.loc[(order_status_df["Order Status"] == statuses[6])]
onhold_df = order_status_df.loc[(order_status_df["Order Status"] == statuses[7])]
paymentreview_df = order_status_df.loc[(order_status_df["Order Status"] == statuses[8])]

#### 2. Pending Orders

In [55]:
pending_df

         Order Status      Type   Delivery Status
Order Id
75939         PENDING  TRANSFER     Late delivery
75929         PENDING  TRANSFER     Late delivery
75928         PENDING  TRANSFER     Late delivery
75919         PENDING  TRANSFER     Late delivery
75918         PENDING  TRANSFER     Late delivery
...               ...       ...               ...
26446         PENDING  TRANSFER  Shipping on time
26258         PENDING  TRANSFER  Shipping on time
26143         PENDING  TRANSFER  Shipping on time
26117         PENDING  TRANSFER  Advance shipping
26024         PENDING  TRANSFER     Late delivery

[20227 rows x 3 columns]

In [56]:
pending_df.apply(pd.Series.value_counts)

                  Order Status     Type  Delivery Status
Advance shipping           NaN      NaN           4857.0
Late delivery              NaN      NaN          11712.0
PENDING                20227.0      NaN              NaN
Shipping on time           NaN      NaN           3658.0
TRANSFER                   NaN  20227.0              NaN

#### All Pending orders are paid via Transfer and are never cancelled

#### 3. Closed orders

In [58]:
closed_df

         Order Status  Type   Delivery Status
Order Id
75938          CLOSED  CASH  Shipping on time
75932          CLOSED  CASH     Late delivery
75931          CLOSED  CASH     Late delivery
75923          CLOSED  CASH     Late delivery
75904          CLOSED  CASH     Late delivery
...               ...   ...               ...
26224          CLOSED  CASH     Late delivery
26096          CLOSED  CASH  Advance shipping
26087          CLOSED  CASH  Advance shipping
26072          CLOSED  CASH  Advance shipping
26043          CLOSED  CASH  Shipping on time

[19616 rows x 3 columns]

In [60]:
closed_df.apply(pd.Series.value_counts)

                  Order Status     Type  Delivery Status
Advance shipping           NaN      NaN           4809.0
CASH                       NaN  19616.0              NaN
CLOSED                 19616.0      NaN              NaN
Late delivery              NaN      NaN          11109.0
Shipping on time           NaN      NaN           3698.0

##### All Closed orders are settled with cash and never cancelled

#### 4. Pending Payment orders

In [61]:
pending_payment_df

             Order Status     Type   Delivery Status
Order Id
75936     PENDING_PAYMENT  PAYMENT  Advance shipping
75924     PENDING_PAYMENT  PAYMENT     Late delivery
75921     PENDING_PAYMENT  PAYMENT  Shipping on time
75913     PENDING_PAYMENT  PAYMENT  Shipping on time
75908     PENDING_PAYMENT  PAYMENT  Shipping on time
...                   ...      ...               ...
26052     PENDING_PAYMENT  PAYMENT  Advance shipping
26052     PENDING_PAYMENT  PAYMENT  Advance shipping
26047     PENDING_PAYMENT  PAYMENT  Advance shipping
26022     PENDING_PAYMENT  PAYMENT  Advance shipping
26018     PENDING_PAYMENT  PAYMENT  Shipping on time

[39832 rows x 3 columns]

In [62]:
pending_payment_df.apply(pd.Series.value_counts)

                  Order Status     Type  Delivery Status
Advance shipping           NaN      NaN           9588.0
Late delivery              NaN      NaN          22922.0
PAYMENT                    NaN  39832.0              NaN
PENDING_PAYMENT        39832.0      NaN              NaN
Shipping on time           NaN      NaN           7322.0

#### All "Pending Payment" status orders have payment type = "Payment" and are never cancelled

#### 5. Cancelled Orders

In [63]:
canceled_df

         Order Status      Type    Delivery Status
Order Id
75935        CANCELED  TRANSFER  Shipping canceled
75917        CANCELED  TRANSFER  Shipping canceled
75901        CANCELED  TRANSFER  Shipping canceled
42331        CANCELED  TRANSFER  Shipping canceled
41345        CANCELED  TRANSFER  Shipping canceled
...               ...       ...                ...
27051        CANCELED  TRANSFER  Shipping canceled
26915        CANCELED  TRANSFER  Shipping canceled
26741        CANCELED  TRANSFER  Shipping canceled
26741        CANCELED  TRANSFER  Shipping canceled
26667        CANCELED  TRANSFER  Shipping canceled

[3692 rows x 3 columns]

In [64]:
canceled_df.apply(pd.Series.value_counts)

                   Order Status    Type  Delivery Status
CANCELED                 3692.0     NaN              NaN
Shipping canceled           NaN     NaN           3692.0
TRANSFER                    NaN  3692.0              NaN

#### All "Canceled" status orders are paid via transfer and have their shipping cancelled

#### 6. Processing Orders

In [66]:
processing_df

         Order Status      Type   Delivery Status
Order Id
75933      PROCESSING  TRANSFER     Late delivery
75926      PROCESSING  TRANSFER     Late delivery
75920      PROCESSING  TRANSFER  Shipping on time
75911      PROCESSING  TRANSFER  Advance shipping
75893      PROCESSING  TRANSFER  Shipping on time
...               ...       ...               ...
26193      PROCESSING  TRANSFER  Shipping on time
26160      PROCESSING  TRANSFER     Late delivery
26160      PROCESSING  TRANSFER     Late delivery
26159      PROCESSING  TRANSFER     Late delivery
26137      PROCESSING  TRANSFER  Advance shipping

[21902 rows x 3 columns]

In [72]:
processing_df.apply(pd.Series.value_counts)

                  Order Status     Type  Delivery Status
Advance shipping           NaN      NaN           5369.0
Late delivery              NaN      NaN          12503.0
PROCESSING             21902.0      NaN              NaN
Shipping on time           NaN      NaN           4030.0
TRANSFER                   NaN  21902.0              NaN

##### All "Processing" orders are paid by transfer and are never cancelled

#### 7. Fraudulent Orders

In [73]:
fraud_df

             Order Status      Type    Delivery Status
Order Id
75930     SUSPECTED_FRAUD  TRANSFER  Shipping canceled
75916     SUSPECTED_FRAUD  TRANSFER  Shipping canceled
33824     SUSPECTED_FRAUD  TRANSFER  Shipping canceled
31364     SUSPECTED_FRAUD  TRANSFER  Shipping canceled
40495     SUSPECTED_FRAUD  TRANSFER  Shipping canceled
...                   ...       ...                ...
26934     SUSPECTED_FRAUD  TRANSFER  Shipping canceled
26780     SUSPECTED_FRAUD  TRANSFER  Shipping canceled
26658     SUSPECTED_FRAUD  TRANSFER  Shipping canceled
26480     SUSPECTED_FRAUD  TRANSFER  Shipping canceled
26118     SUSPECTED_FRAUD  TRANSFER  Shipping canceled

[4062 rows x 3 columns]

In [74]:
fraud_df.apply(pd.Series.value_counts)

                   Order Status    Type  Delivery Status
SUSPECTED_FRAUD          4062.0     NaN              NaN
Shipping canceled           NaN     NaN           4062.0
TRANSFER                    NaN  4062.0              NaN

##### All fraudulent orders are paid via transfer and have their shipping cancelled

#### 8. On hold orders

In [75]:
onhold_df

         Order Status   Type   Delivery Status
Order Id
75910         ON_HOLD  DEBIT     Late delivery
51050         ON_HOLD  DEBIT     Late delivery
45680         ON_HOLD  DEBIT     Late delivery
42992         ON_HOLD  DEBIT     Late delivery
41304         ON_HOLD  DEBIT     Late delivery
...               ...    ...               ...
26182         ON_HOLD  DEBIT  Advance shipping
26150         ON_HOLD  DEBIT     Late delivery
26150         ON_HOLD  DEBIT     Late delivery
26116         ON_HOLD  DEBIT  Advance shipping
26051         ON_HOLD  DEBIT  Shipping on time

[9804 rows x 3 columns]

In [76]:
onhold_df.apply(pd.Series.value_counts)

                  Order Status    Type  Delivery Status
Advance shipping           NaN     NaN           2413.0
DEBIT                      NaN  9804.0              NaN
Late delivery              NaN     NaN           5450.0
ON_HOLD                 9804.0     NaN              NaN
Shipping on time           NaN     NaN           1941.0

#####  All ON_Hold orders are paid via debit and are never cancelled

#### 9. Payment Review orders

In [77]:
paymentreview_df

            Order Status     Type   Delivery Status
Order Id
75813     PAYMENT_REVIEW  PAYMENT     Late delivery
49521     PAYMENT_REVIEW  PAYMENT  Shipping on time
30305     PAYMENT_REVIEW  PAYMENT     Late delivery
39159     PAYMENT_REVIEW  PAYMENT     Late delivery
47262     PAYMENT_REVIEW  PAYMENT     Late delivery
...                  ...      ...               ...
27343     PAYMENT_REVIEW  PAYMENT     Late delivery
26894     PAYMENT_REVIEW  PAYMENT     Late delivery
26758     PAYMENT_REVIEW  PAYMENT  Shipping on time
26194     PAYMENT_REVIEW  PAYMENT     Late delivery
26059     PAYMENT_REVIEW  PAYMENT     Late delivery

[1893 rows x 3 columns]

In [78]:
paymentreview_df.apply(pd.Series.value_counts)

                  Order Status    Type  Delivery Status
Advance shipping           NaN     NaN            420.0
Late delivery              NaN     NaN           1082.0
PAYMENT                    NaN  1893.0              NaN
PAYMENT_REVIEW          1893.0     NaN              NaN
Shipping on time           NaN     NaN            391.0

##### All payment_review orders are paid via "Payment" and are never cancelled

# Create new tablet to summarize this info

Function to get % decomposition of delivery status and payment type for each order status

In [179]:
my_dict = {}
n = orders_df.shape[0]

def get_percentages(df,i):
    global my_dict
    global statuses
    global n
    delivery = df["Delivery Status"].value_counts(normalize=True)
    payment = df.iloc[1]["Type"]
    percent = round(df.shape[0]/n*100,2)
    
    if i ==4 or i == 6:
        my_dict[statuses[i]] = [percent,0,0,0,round(delivery[0]*100,2), payment]
    else:
        my_dict[statuses[i]] = [percent,round(delivery[0]*100,2), round(delivery[1]*100,2), round(delivery[2]*100,2),0,payment]

Put all order dfs in a list

In [180]:
df_list = [complete_df,
pending_df,
closed_df,
pending_payment_df,
canceled_df ,
processing_df,
fraud_df ,
onhold_df ,
paymentreview_df ]

##### Call function and populate dict

In [181]:
for i in range(len(df_list)):
    get_percentages(df_list[i],i)

In [182]:
my_dict

{'COMPLETE': [32.96, 57.49, 23.76, 18.75, 0, 'DEBIT'],
 'PENDING': [11.2, 57.9, 24.01, 18.08, 0, 'TRANSFER'],
 'CLOSED': [10.87, 56.63, 24.52, 18.85, 0, 'CASH'],
 'PENDING_PAYMENT': [22.07, 57.55, 24.07, 18.38, 0, 'PAYMENT'],
 'CANCELED': [2.05, 0, 0, 0, 100.0, 'TRANSFER'],
 'PROCESSING': [12.13, 57.09, 24.51, 18.4, 0, 'TRANSFER'],
 'SUSPECTED_FRAUD': [2.25, 0, 0, 0, 100.0, 'TRANSFER'],
 'ON_HOLD': [5.43, 55.59, 24.61, 19.8, 0, 'DEBIT'],
 'PAYMENT_REVIEW': [1.05, 57.16, 22.19, 20.66, 0, 'PAYMENT']}

#### Convert into dataframe

In [183]:
orders_by_status_df = pd.DataFrame.from_dict(my_dict, orient="index")
orders_by_status_df.set_axis(["% of all orders","Late delivery %","Advance shipping %","Shipping on time %","Shipping Cancelled %", "Payment%"],axis=1, inplace=True)
orders_by_status_df

,% of all orders,Late delivery %,Advance shipping %,Shipping on time %,Shipping Cancelled %,Payment%
COMPLETE,32.96,57.49,23.76,18.75,0.0,DEBIT
PENDING,11.20,57.90,24.01,18.08,0.0,TRANSFER
CLOSED,10.87,56.63,24.52,18.85,0.0,CASH
PENDING_PAYMENT,22.07,57.55,24.07,18.38,0.0,PAYMENT
CANCELED,2.05,0.00,0.00,0.00,100.0,TRANSFER
PROCESSING,12.13,57.09,24.51,18.40,0.0,TRANSFER
SUSPECTED_FRAUD,2.25,0.00,0.00,0.00,100.0,TRANSFER
ON_HOLD,5.43,55.59,24.61,19.80,0.0,DEBIT
PAYMENT_REVIEW,1.05,57.16,22.19,20.66,0.0,PAYMENT

There does not seem to be a relationship between order type and shipping 
I would have expected that those which take longer to processes would experience more delays

##### Save file

In [184]:
orders_by_status_df.to_csv("BigSupplyCo_Data_Files/custom_order_table.csv")

# Get some summary stats for the orders as a whole

#### Get percentage compositon of orders by payment type as well

In [189]:
orders_df["Type"].value_counts(normalize=True)*100

DEBIT       38.386541
TRANSFER    27.633102
PAYMENT     23.113910
CASH        10.866446
Name: Type, dtype: float64

In [197]:
payments_delays = order_status_df = orders_df.filter(["Type","Late Delivery Risk"]).copy()
temp = payments_delays.value_counts(normalize=True)*100
temp

Type      Late Delivery Risk
DEBIT     1                     21.963893
          0                     16.422648
TRANSFER  0                     14.219002
          1                     13.414100
PAYMENT   1                     13.297215
          0                      9.816695
CASH      1                      6.153923
          0                      4.712523
dtype: float64

In [200]:
temp[1

16.422648031509148